.lp-block a {
    text-decoration: none;
}

div.lp-block .lp-block-title {
    display: -webkit-flex;
    display: flex;
}

.lp-block-title .lp-block-title_area-1 {
    float: left;
    width: 80%;
}

.lp-block-title .lp-block-title_area-2 {
    float     : right;
    width     : 20%;
    text-align: right;
}

.lp-block-title_area-1 h3 {
    margin: 0 0 10px;
}

.lp-block-title_area-2 a {
    display: inline-block;
    margin : 4px 16px 0 0;
}

.lp-more-button_top-right {}

.lp-more-button_bottom-right {
    float     : right;
    margin-top: 4px;
}


/* --- Category Filter Block --- */
.lp-category-filter {
    margin: 0 auto 5px;
}

.lp-category-list {
    display   : inline-block;
    list-style: none;
    margin    : 0;
}

.lp-category-list .lp-category-list-item {
    float     : left;
    list-style: none;
    margin    : 0;
}

.lp-category-list .lp-category-list-item a {
    display      : inline-block;
    padding      : 0px 10px;
    color        : #222222;
    border-bottom: 2px solid #bbbbbb;
}

.lp-category-list .lp-category-list-item a:hover {
    color              : #ff6600;
    border-bottom-color: #ff6600;
}

.lp-category-list .lp-category-current a,
.lp-category-list .lp-category-current a:hover {
    color              : #007acc;
    border-bottom-color: #007acc;
}

/* --- Loops Block --- */
.lp-news-loops .lp-permalink {
    display      : block;
    padding      : 0;
    margin-bottom: 10px;
}

.lp-news-loops .lp-permalink:hover {
    background-color: #eeeeee;
}

.lp-news-loops .sticky {
    color: #de212a;
}

.lp-news-loops .sticky:hover {
    background-color: transparent;
    color           : #ff6600;
}

.lp-news-row-inner {
    display : block;
    margin  : 1px auto;
    position: relative;
}

.lp-post-category {
    -webkit-flex : none;
    flex         : none;
    border-radius: 4px 4px 0 0;
    padding      : 4px 10px;
    color        : #333;
}

.lp-post-title {
    /* display: inline-block; */
    -webkit-flex    : 1;
    flex            : 1;
    padding         : 4px 10px;
    border-radius   : 0 0 4px 4px;
    border          : 1px solid #bbbbbb;
    border-top-width: 0;
}

.lp-post-date {
    -webkit-flex  : none;
    flex          : none;
    vertical-align: top;
    text-align    : center;
    border-radius : 0 3px 0 0;
    position      : absolute;
    top           : 1px;
    right         : 1px;
    padding       : 4px 10px;
}


.lp-post-category,
.lp-post-date {
    background-color: #666666;
    color           : #fbfbfb;
}

.lp-post-category {
    border: 1px solid #666666;
}

.lp-permalink:hover .lp-post-category,
.lp-permalink:hover .lp-post-date {
    background-color: #999999;
    border-color    : #999999;
    color           : #333333;
}

.lp-permalink:hover .lp-post-title {
    border-color: #666666;
}

.lp-block .wp-pagenavi {
    padding: 10px 0 10px !important;
}