.ln-block a {
    text-decoration: none;
}

div.ln-block .ln-block-title {
    display: -webkit-flex;
    display: flex;
}

.ln-block-title .ln-block-title_area-1 {
    float: left;
    width: 80%;
}

.ln-block-title .ln-block-title_area-2 {
    float     : right;
    width     : 20%;
    text-align: right;
}

.ln-block-title_area-1 h3 {
    margin: 0 0 10px;
}

.ln-block-title_area-2 a {
    display: inline-block;
    margin : 4px 16px 0 0;
}

.ln-more-button_top-right {}

.ln-more-button_bottom-right {
    float     : right;
    margin-top: 4px;
}


/* --- Category Filter Block --- */
.ln-category-filter {
    margin: 0 auto 5px;
}

.ln-category-list {
    display   : inline-block;
    list-style: none;
    margin    : 0;
}

.ln-category-list .ln-category-list-item {
    float     : left;
    list-style: none;
    margin    : 0;
}

.ln-category-list .ln-category-list-item a {
    display      : inline-block;
    padding      : 0px 10px;
    color        : #222222;
    border-bottom: 2px solid #bbbbbb;
}

.ln-category-list .ln-category-list-item a:hover {
    color              : #ff6600;
    border-bottom-color: #ff6600;
}

.ln-category-list .ln-category-current a,
.ln-category-list .ln-category-current a:hover {
    color              : #007acc;
    border-bottom-color: #007acc;
}

/* --- Loops Block --- */
.ln-news-loops .ln-permalink {
    color        : #007acc;
    display      : block;
    padding      : 0.3rem 0.5rem;
    border-bottom: 1px solid #eeeeee;
}

.ln-news-loops .ln-permalink:hover {
    color: #ff6600;
}

.ln-news-loops .ln-posts-block a:nth-child(odd) {
    background-color: rgba(192, 192, 192, 0.25);
}

.ln-news-loops .ln-posts-block a:nth-child(even) {
    background-color: transparent;
}

.ln-news-loops .sticky {
    color: #de212a;
}

.ln-news-loops .sticky:hover {
    background-color: transparent;
    color           : #ff6600;
}

.ln-news-sticky {
    color: #ff6600;
}

.ln-news-row-outer {
    margin: 0;
}

.ln-news-row-inner {
    display    : -webkit-flex;
    display    : flex;
    align-items: center;
    margin     : 1px auto;
}

.ln-post-category {
    -webkit-flex: none;
    flex        : none;
}

.ln-post-category-inner {
    display         : inline-block;
    padding         : 0.25em 0.4em;
    font-size       : 75%;
    font-weight     : 700;
    line-height     : 1;
    text-align      : center;
    white-space     : nowrap;
    vertical-align  : baseline;
    border-radius   : 0.25rem;
    transition      : color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color           : #fff;
    background-color: #007acc;
}

.ln-news-loops .ln-permalink:hover .ln-post-category-inner {
    background-color: #ff6600;
}

.ln-post-title {
    -webkit-flex   : 1;
    flex           : 1;
    /* padding     : 0 10px; */

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap    : break-word;

    -ms-word-break                      : break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break                          : break-all;
    /* Instead use this non-standard one: */
    word-break                          : break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens    : auto;
    -moz-hyphens   : auto;
    -webkit-hyphens: auto;
    hyphens        : auto;
}

.ln-post-date {
    -webkit-flex  : none;
    flex          : none;
    vertical-align: top;
    text-align    : center;
}

.ln-post-category,
.ln-post-date,
.ln-post-title {
    padding: 0 6px;
}

.ln-block .wp-pagenavi {
    padding: 10px 0 10px !important;
}

@media (max-width: 768px) {

    .ln-news-loops .ln-posts-block a:nth-child(even),
    .ln-news-loops .ln-posts-block a:nth-child(odd) {
        /* background-color: transparent; */
    }

    .ln-news-loops .ln-permalink {
        padding: 6px 0;
    }

    .ln-news-row-inner {
        display : block;
        position: relative;
    }

    .ln-post-category {
        border-radius: 0;
    }

    .ln-post-date {
        position: absolute;
        top     : 0;
        right   : 0;
    }

    .ln-post-category,
    .ln-post-date,
    .ln-post-title {
        padding: 4px 10px;
    }
}

/**************** WP Paginavi ****************/

.wp-pagenavi {
    display        : -ms-flexbox;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    padding-left   : 0;
    list-style     : none;
    border-radius  : 0.25rem;
}

.wp-pagenavi *,
.wp-pagenavi *:visited {
    position           : relative;
    display            : block;
    padding            : 0.5rem 0.75rem;
    padding            : 0.25rem 0.5rem;
    margin-left        : -1px;
    /* line-height     : 1.25; */
    line-height        : 1.5;
    color              : #007acc;
    background-color   : #fff;
    border             : 1px solid #dee2e6;
    font-size          : 0.875rem;
}

.wp-pagenavi *:hover {
    z-index         : 2;
    color           : #0056b3;
    text-decoration : none;
    background-color: #e9ecef;
    border-color    : #dee2e6;
}

.wp-pagenavi *:focus {
    z-index   : 3;
    outline   : 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.wp-pagenavi *:first-child .wp-pagenavi * {
    margin-left              : 0;
    border-top-left-radius   : 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.wp-pagenavi *:last-child .wp-pagenavi * {
    border-top-right-radius   : 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

.wp-pagenavi span.current {
    z-index         : 3;
    color           : #fff;
    background-color: #007acc;
    border-color    : #007acc;
}

.wp-pagenavi *.disabled .wp-pagenavi * {
    color           : #6c757d;
    pointer-events  : none;
    cursor          : auto;
    background-color: #fff;
    border-color    : #dee2e6;
}